nav {
    margin-bottom: 500px;

}

dd {
    margin-bottom: 10px;
}

body{
    background: url(https://static.pexels.com/photos/196652/pexels-photo-196652.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid{
    margin-top: 75px;
}

.panel-footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}


.highlight-clean{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .5);
    padding-bottom: 15px;
    border-radius: 15px;

}

.jumbotron{
    background: rgba(255, 255, 255, 0.7);
}

.headline{
    color: ghostwhite;
    font-size: 50px;
}